<h1>Log in with your username and password</h1>
<form action="" method="">
  <%= render 'shared/auth_token' %>
  Username/email <input type="text" name="user[username_or_email]" value="">
  Password <input type="password" name="user[password]">
<button>Log in</button>
</form>
