<h1>Upload Photo</h1>

<form>
  <label>
    Image
    <input type="file" name="concert_photo[photo]" id="input-concert-photo">
  </label>

  <br>

  <img src="" id="preview-concert-photo" width="50">

  <br>

  <button>Save</button> or <a href="#">Cancel</a>

</form>
