<form>
  <label>
    Image
    <input type="file" name="concert_photo[photo]" id="input-concert-photo">
  </label>

  <br>

  <img src="" id="preview-concert-photo">

  <br>

  <button class="save-photo">Save</button> or <a href="#" class="cancel">Cancel</a>

</form>
