<h1><%= artist.escape('name') %></h1>
<img src="<%= artist.escape('image_url') %>">
<p>Description: <%= artist.escape('description') %></p>
<% if (ids && (ids.indexOf(artist.id) === -1)) { %>
<button class="track track-artist">track artist</button>
<% } else { %>
<button class="untrack untrack-artist">stop tracking</button>
<% } %>
<h2>Upcoming Concerts</h2>
