<section class="artist-bio group">
  <section class="artist-text group">
    <h1><%= artist.escape('name') %></h1>
    <p><%= artist.escape('description') %> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <% if (ids && (ids.indexOf(artist.id) === -1)) { %>
    <button class="track track-artist">track artist</button>
    <% } else { %>
    <button class="untrack untrack-artist">stop tracking</button>
    <% } %>
  </section>
  <img src="<%= artist.escape('image_url') %>">
</section>
<h2>Upcoming Concerts</h2>
