<h1><%= artist.escape('name') %></h1>
Description: <%= artist.escape('description') %><br>
<img src="<%= artist.escape('image_url') %>"><br>
<% if (ids && (ids.indexOf(artist.id) === -1)) { %>
track
<% } else { %>
  untrack
<% } %>
