Concert info:
<a href="#/concerts/<%= concert.id %>">
  <%= artist.escape('name') %> <%= concert.escape('date') %>
</a>
<% if (ids && ids.indexOf(concert.id) === -1) { %>
  <button class="track-concert">Track event</button>
<% } else { %>
  <button class="untrack-concert">Stop tracking</button>
<% } %>
