Concert info:
<a href="#/concerts/<%= concert.id %>">
  <%= concert.artist().escape('name') %> <%= concert.date() %>
</a>
<% if (ids && ids.indexOf(concert.id) === -1) { %>
  <button class="track track-concert">Track event</button>
<% } else { %>
  <button class="untrack untrack-concert">Stop tracking</button>
<% } %>
