<div class="header group">
  <h1>Your Artists</h1>
  <p>Currently tracking <%= artists.length %> bands.</p>
  <form action="">
    <input class='search' type="search" placeholder="find more artists">
    <input type="submit" value="search" class="submit">
  </form>
</div>
