<div class="info-box group">
  <li><a href="#/artists/<%= artist.id %>"><%= artist.escape('name') %></a>
    <br><%= artist.concerts().length %> Upcoming shows</li>
  <% if (ids && (ids.indexOf(artist.id) === -1)) { %>
  <button class="track track-artist">Track artist</button>
  <% } else { %>
  <button class="untrack untrack-artist">Stop tracking</button>
  <% } %>
  <img src="<%= artist.escape('small_image_url') %>">
</div>
