<h1>Your Dashboard</h1>
<p>We've found <%= numLocaleConcerts %> upcoming concerts in your area(s). You
can add to or edit your <a href="#/session/locales">tracked locations</a> and
<a href="#/session/artists">artists</a>.</p>
