<h1>Your Dashboard</h1>
<p>We've found <%= numLocaleConcerts %> recommended
  <% if (numLocaleConcerts !== 1) { %>
    concerts
  <% } else { %>
    concert
  <% } %>
  based on your tracked <a href="#/session/artists">artists</a> and <a href="#/session/locales">locations</a>.</p>
