<h1>Locations page</h1>
<h2>You are currently associated with these locations: (<%= locales.length %>)
</h2>
<% locales.each( function (locale) { %>
  City: <%= locale.escape('city') %><br>
  State: <%= locale.escape('state') %><br>
<% }); %>
