<a href="#/locales/<%= locale.id %>">
  <%= locale.escape('city') %>, <%= locale.escape('state') %>
</a>
<% if (ids && ids.indexOf(locale.id) === -1) { %>
  <button class="track track-locale">Track location</button>
<% } else { %>
  <button class="untrack untrack-locale">Stop tracking</button>
<% } %>
