<div class="user-header group">
  <div class="user-info group">
    <h1><%= user.escape('username') %></h1>
    <h2>stats: </h2>
    <p> <% if (user.artists().length !== 1) { %>
          Currently tracking <%= user.artists().length %> artists
        <% } else { %>
          Currently tracking 1 artist
        <% } %> <br>

        <% if (user.locales().length !== 1) { %>
          Tracking artists in <%= user.locales().length %> locations
        <% } else { %>
          Tracking artists in 1 location
        <% } %><br>

    </p>
    <form action="/session" method="post">
      <input type="hidden"
             name="_method"
             value="delete">
      <input type="hidden"
             name="authenticity_token"
             id="authenticity_token">
      <input type="submit" class="submit" value="Log out">
    </form>
  </div>
  <img src="<%= user.escape('image_url') %>" class="profile">
</div>
