/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* RESET */

html, body, header, nav, h1, h2, h3, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, textarea,
article, footer, small, div, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


input {
  border: 1px solid #ccc;
}


body {
  font-family: helvetica,arial,sans-serif;
  color: #3a3a3a;
}

body.black-home {
  background: #1e2126;
}

strong {
  font-weight: bold;
}


h1, h2, h3 {
  font-weight: bold;
  margin: 10px 0px;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

footer {
  width: 900px;
  margin: 30px auto;
  color: white;
  font-size: 14px;
}

a {
  color: #0277ad;
}

a:hover {
  text-decoration: underline;
}

.main {
  width: 900px;
  margin: 0 auto;
}



/* Splash Page */

.home {
  background: #1e2126;
  position: relative;
  height: auto;
  width: 900px;
  margin: 0 auto;
}

.hero {
  display: block;
  width: 900px;
  margin: 0px auto;
  position: relative;
}

.hero .message {
  padding: 15px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.message h2 {
  font-weight: normal;
}

a.banner {
  color: white;
  text-decoration: none;
}

.message button {
  background: #f80046;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding:  6px 8px;
  margin: 10px 0 0 0;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
}




/* Nav Bar */

nav {
  background: #1e2126;
  font-family: helvetica;
  font-weight: bold;
  border-top: 5px solid #f80046;
}


nav a:hover {
  color: #0277ad;
  text-decoration: none;
}

nav ul.nav {
  margin: auto;
  width: 900px;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  position: relative;
}

nav li {
  width: 130px;
  padding: 20px 10px;
  float: left;
  font-family: helvetica;
  display: block;
  text-align: center;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
}

nav #last {
  color: #6E6E6E;
  font-size: 14px;
  font-weight: normal;
}

nav .submit:hover{
  color: #0277ad;
}

nav .logo:hover {
  color: #f80046;
}

nav .submit {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: inherit;
}

.user-nav-item {
}

.user-dropdown {
  display: none;
  position: absolute;
  border-top: 1px solid white;
  background: yellow;
}

.user-nav-item:hover .user-dropdown {
  /*display: block;
  background: red;
  height: 100px;*/
}


/* Log In Page*/

.log-in {
  width: 360px;
  margin: 80px auto;
  font-weight: bold;
}

.log-in p {
  width: 150px;
  float: left;
  display: block;
  padding: 2px 0 10px 0;
  margin: 0 0 15px 0;
}

.log-in input {
  float: right;
  display: block;
  margin: 0 0 15px 0;
  padding: 5px 0;
}

.log-in-button {
  border: 1px solid #aaa;
  border-radius: 3px;
  display: block;
  margin: 20px auto;
  padding: 6px 35px;
  background: #ccc;
  cursor: pointer;
}

.log-in-button:hover {
  border: 1px solid black;
}

.log-in .guest {
  font-weight: normal;
  color: #0277ad;
  border: none;
  cursor: pointer;
}

.log-in aside {
  float: left;
  font-weight: normal;
}



/* Sign Up Page */

.sign-up {
  background: #ECE9E9;
}

.sidebar {
  float: left;
  width: 245px;
  padding: 20px;
  display: block;
  margin: 0 0 0 15px;
}

.benefits li{
  list-style: disc;
  margin: 20px 0 20px 5px;
}

.sign-up-content {
  float: right;
  width: 560px;
  padding: 20px;
  background: white;
}

.sign-up-content h2 {
  margin: 10px 0 20px;
}

.sign-up-content form {
  width: 360px;
  font-weight: bold;
}

.sign-up-content input {
  padding: 5px 2px;
  border-radius: 3px;
  font-weight: normal;
  width: 200px;
}

.sign-up-content form div {
  margin: 30px auto;
}

.sign-up-content .field p {
  float: left;
  display: block;
  padding: 6px 0px;
}

.sign-up-content .field input {
  float: right;
  display: block;
}

.sign-up-content .field button {
  border: 1px solid #aaa;
  border-radius: 3px;
  display: block;
  margin: 20px auto;
  padding: 6px 35px;
  background: #ccc;
  cursor: pointer;
}


/* General */

img.thumb {
  display: block;
  width: 80px;
  height: 80px;

}

.untrack {
  background: #f80046;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #ECE9E9;
  font-size: 14px;
  padding: 3px 10px;
}

.track {
  background: #007298;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #ECE9E9;
  font-size: 14px;
  padding: 3px 10px;
}

.untrack:hover, .track:hover {
  border: 1px solid black;
}



/* Artist Page */

.artist-bio{
  margin: 30px 0;
  border-bottom: 2px solid #eee;
}

.artist-text {
  width: 500px;
  float: left;
}

img.profile {
  float: right;
  display: block;
  width: 300px;
  height: auto;
  margin: 0 0 20px 0;
  border: 1px solid #aaa;
}

.artist-text h1 {
  text-align: left;
  border-bottom: 2px solid #eee;
  margin: 0;
}

.artist-text p {
  text-align: left;
  margin: 20px 0;
}

.artist-text button {
  float: left;
  display: block;
}


/* Event Show Page */

.concert-info {
  margin: 30px 0;
  border-bottom: 2px solid #eee;
  position: relative;
}

.concert-text {
  width: 500px;
  float: left;
}

.concert-info img.profile {
  float: right;
  display: block;
  width: auto;
  height: 200px;
  margin: 0 20px 20px 0;
  border: 1px solid #aaa;
}

.concert-text h1 {
  text-align: left;
  border-bottom: 1px solid #eee;
  margin: 0;
}

.concert-text h1 a {
  border-bottom: none;
}



.concert-text h2 {
  text-align: left;
  margin: 20px 0;
}

.concert-info button {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px 0;
}




/* Concert Mini-View */

ul.session-concert, ul.session-artist {
 margin: 20px 0px;
}

ul.session-concert h3, ul.session-artist h3 {
  margin: 0px 0 0 10px;
}

ul .info-box {
  padding: 10px;
  width: 500px;
  background: #ECE9E9;
  position: relative;
}

ul .info-box button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

ul .info-box li {
  margin: 0 0 0 8px;
  float: left;
  font-size: 18px;
}

ul .info-box img {
  float: right;
  display: block;
  height: 70px;
  width: auto;
}


/* Artist mini-view */

ul.session-artist li {

}

/* Artist concert mini-view */

section.artist-concert {
  width: 500px;
  background: #ECE9E9;
  padding: 5px;
  margin: 0 0 10px;
}

.artist-concert a {
  float: left;
  margin: 4px 0 0 0;
}

.artist-concert button {
  float: right;
}


/* Locale Concert mini-view */

section.locale-concert {
  width: 500px;
  background: #ECE9E9;
  padding: 5px;
  margin: 0 0 10px;
  position: relative;
}

.locale-concert a {
  float: left;
  margin: 4px 0 0 0;
}

.locale-concert button {
  position: absolute;
  bottom: 6px;
  left: 10px;
}

.locale-concert img {
  float: right;
  display: block;
  height: 70px;
  width: auto;
}


/* User Locales sub view */

.session-locale {
  width: 370px;
  background: #ECE9E9;
  margin: 5px 0 10px;
  padding: 5px;
}

.session-locale a {
  float: left;
  margin: 4px 0 0 0;
}

.session-locale button {
  float: right;
}

/*.info-box:hover {
  background: #aaa;
}*/

ul.concert-photos li {
  float: left;
}

img.concert-photo {
  margin: 20px;
  width: 260px;
  height: auto;

}
