/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* RESET */

html, body, header, nav, h1, h2, h3, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, textarea,
article, footer, small, div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  border: inherit;
}


body {
  font-family: helvetica,arial,sans-serif;
  color: #3a3a3a;
}

strong {
  font-weight: bold;
}

div {
}


h1, h2, h3 {
  font-weight: bold;
  margin: 10px 0px;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

a {
  color: #0277ad;
}

a:hover {
  text-decoration: underline;
}

.main {
  width: 900px;
  margin: 0 auto;
}

.main .log-in {
  width: 400px;
  margin: 50px auto;
}

.home {
  background: #1e2126;
  display: block;
}

.home .content {
  width: 900px;
  margin: 0 auto;
}

.hero {
  display: block;
  width: 900px;
  margin: 0px auto;
  position: relative;
}

.hero .message {
  padding: 15px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.message h2 {
  font-weight: normal;
}

a.banner {
  color: white;
  text-decoration: none;
}

.message button {
  background: #f80046;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding:  6px 8px;
  margin: 10px 0 0 0;
  border-radius: 3px;
  text-transform: uppercase;
}

.space {
  height: 200px;
  display: block;
}

nav {
  background: #1e2126;
  font-family: helvetica;
  font-weight: bold;
  border-top: 5px solid #f80046;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #0277ad;
  text-decoration: none;
}

nav ul {
  margin: auto;
  width: 900px;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

nav li {
  width: 130px;
  padding: 20px 10px;
  float: left;
  font-family: helvetica;
  display: block;
  color: white;
  text-align: center;
}

nav .submit:hover{
  color: #0277ad;
}

nav .submit {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: inherit;
}

.user-nav-item {
  position: relative;
  display: block;
  z-index: 1;
}

.user-dropdown {
  display: none;
  position: absolute;
  bottom: 10;
  overflow: hidden;
  border-top: 1px solid white;
}

.user-nav-item:hover .user-dropdown {
  /*display: block;
  z-index: 1000;*/
}

.untrack {
  background: #f80046;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid white;
}

.track {
  background: #007298;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid white;
}

.untrack:hover, .track:hover {
  border: 1px solid black;
}
