/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* RESET */

body, html, p, ul, li, nav, div, h1, h2, span, figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  }
.main {
  width: 900px;
  margin: 0 auto;

}

nav {
  margin: auto;
  width: 900px;
  background: #1e2126;
  font-family: helvetica;
  font-weight: bold;
  border-top: 5px solid #f80046;

}
nav a:visited {
  color: white;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  width: 130px;
  padding: 20px 10px;
  float: left;
  font-family: helvetica;
  display: block;
  color: white;
  text-align: center;
}

nav li:hover{
  color: #0277ad;
}
