<div class='search-header group'>
  <h1>Search Results</h1>
  <input class='search' type="search" placeholder="find more artists">
  <button class="search">submit</button>
</div>
<div class="results">
</div>
