<nav>
  <form action="<%= session_url %>" method="post">
    <%= render 'shared/auth_token' %>
    <input type="hidden"
           name="_method"
           value="delete">
    <input type="submit" value="log out">
  </form>
</nav>
