<nav id="logged-in">

  <ul class="nav">
    <li><a href="#">ENCORE</a></li>
    <li><a href="#/session/artists">Your Artists</a></li>
    <li><a href="#/session/plans">Your Plans</a></li>
    <li><a href="#/session/locales">Locations</a></li>
    <li>
      <form action="<%= session_url %>" method="post">
        <input type="hidden"
               name="_method"
               value="delete">
        <%= render 'shared/auth_token' %>
        <input type="submit" class="submit" value="Log out">
      </form>
    </li>
    <li class="user-nav-item">
      <a href="#/session/show"><%= current_user.username %></a>
    </li>
  </ul>
</nav>
