<nav id="logged-in">

  <ul>
    <li><a href="/">ENCORE</a></li>
    <li>Your Artists</li>
    <li>Your Plans</li>
    <li>Locations</li>
    <li>Search</li>
    <li>
       <form action="<%= session_url %>" method="post">
        <%= render 'shared/auth_token' %>
        <input type="hidden"
               name="_method"
               value="delete">
        <input class='submit' type="submit" value="Log out">
      </form>
    </li>
  </ul>
</nav>
