<nav id="guest">
  <ul class="nav">
    <li><a class="logo" href="/">ENCORE</a></li>
    <li>Your Artists</li>
    <li>Your Plans</li>
    <li>Locations</li>
    <li>Search</li>
    <li id="last"><a href="<%= new_user_url %>">Sign up</a> or
      <a href="<%= new_session_url %>">Log in</a></li>
  </ul>
</nav>
