<nav id="logged-in">

  <ul>
    <li><a href="/">ENCORE</a></li>
    <li>Your Artists</li>
    <li>Your Plans</li>
    <li>Locations</li>
    <li>Search</li>
    <li>
      <a href="#/session/show"><%= current_user.username %></a>
    </li>
  </ul>
</nav>
